---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 | Ovyerus" ogTitle="404, nothing but ghosts">
  <main class="content">
    <div class="h-5 neon neon-right"></div>
    <h1 class="text-8xl font-bold">404</h1>
    <p>Nothing here but dust and ghosts...</p>
  </main>
</Layout>
