---
import { Image } from "astro:assets";

import wordmark from "~assets/wordmark-gradient.svg";
import Webring from "~components/Webring.astro";
import Layout from "~layouts/Layout.astro";

const email = "ovy@ovyerus.com";
---

<Layout
  title="Home - Ovyerus"
  ogTitle="Ovyerus"
  description="Multifaceted creative, programmer of many things."
>
  <main class="content">
    <div class="neon h-1/2 min-h-[100px] flex-grow basis-[0]"></div>
    <div
      class="flex h-full flex-grow basis-[0] flex-col gap-5 p-2.5 md:h-1/2 md:p-5"
    >
      <!-- Does this ARIA work? -->
      <Image
        class="w-full max-w-[600px]"
        src={wordmark}
        alt="Ovyerus"
        role="heading"
        aria-level="1"
        aria-label="Ovyerus"
        loading="eager"
      />
      <p>Multifaceted creative, programmer of many things.</p>
      <nav>
        <p>
          Contact:&nbsp; <a class="font-bold" href={`mailto:${email}`}>
            {email}
          </a>
        </p>
        <ul class="link-list">
          <li><a href="/about">about</a></li>
          <li><a href="/posts">posts</a></li>
        </ul>
      </nav>

      <div class="flex-1"></div>

      <footer class="flex flex-row flex-wrap-reverse justify-between">
        <ul class="link-list">
          <li><a rel="me" href="https://github.com/Ovyerus">github</a></li>
          <li><a rel="me" href="https://aus.social/@ovyerus">mastodon</a></li>
        </ul>
        <ul class="link-list justify-end">
          <li><a href="/ssh.txt">ssh keys</a></li>
          <li><a href="/domains.txt">domains list</a></li>
        </ul>
      </footer>

      <Webring />
    </div>
  </main>
</Layout>
