---
import wordmark from "../assets/wordmark-gradient.svg";
import Layout from "../layouts/Layout.astro";

const email = "ovy@ovyerus.com";
---

<Layout
  title="Home - Ovyerus"
  ogTitle="Ovyerus"
  description="Multifaceted creative, programmer of many things."
>
  <main class="content">
    <div class="h-1/2 min-h-[100px] flex-grow basis-[0] neon"></div>
    <div
      class="h-full md:h-1/2 p-2.5 md:p-5 flex flex-col gap-5 flex-grow basis-[0]"
    >
      <!-- Does this ARIA work? -->
      <img
        class="max-w-[600px]"
        alt="Ovyerus"
        src={wordmark}
        role="heading"
        aria-level="1"
        aria-label="Ovyerus"
      />
      <p>Multifaceted creative, programmer of many things.</p>
      <div>
        <p>
          Contact:&nbsp; <a class="font-bold" href={`mailto:${email}`}>
            {email}
          </a>
        </p>
        <ul class="link-list">
          <li><a href="/about">about</a></li>
          <li><a href="/now">now</a></li>
          <li><a href="/posts">posts</a></li>
        </ul>
      </div>

      <div class="flex-1"></div>

      <footer class="flex flex-col md:flex-row justify-between">
        <ul class="link-list">
          <li><a rel="me" href="https://github.com/Ovyerus">github</a></li>
          <li><a rel="me" href="https://aus.social/@ovyerus">mastodon</a></li>
          <li>
            <a rel="me" href="https://dribbble.com/Ovyerus">dribbble</a>
          </li>
        </ul>
        <ul class="link-list justify-end">
          <li><a href="/ssh.txt">ssh keys</a></li>
          <li><a href="/domains.txt">domains list</a></li>
        </ul>
      </footer>
    </div>
  </main>
</Layout>
