---
import Layout from "../layouts/Layout.astro";

const email = "ovy@ovyerus.com";
---

<Layout title="Ovyerus">
  <main class="min-h-screen flex flex-col gap-2.5 md:gap-5 p-2.5 md:p-5">
    <div class="h-1/2 min-h-[100px] gradient-block flex-grow basis-[0]"></div>
    <div
      class="h-full md:h-1/2 p-2.5 md:p-5 flex flex-col gap-5 flex-grow basis-[0]"
    >
      <!-- Does this ARIA work? -->
      <img
        class="max-w-[600px]"
        alt="Ovyerus"
        src="/wordmark.svg"
        role="heading"
        aria-level="1"
        aria-label="Ovyerus"
      />
      <p>
        Multifaceted creative, programmer of many things.<br />
        Currently frontend developer @ BIRDI
      </p>
      <p>
        Contact:&nbsp; <a class="font-bold" href={`mailto:${email}`}>{email}</a>
      </p>

      <div class="flex-1"></div>

      <footer class="flex flex-col md:flex-row justify-between">
        <ul class="footer-links">
          <li><a href="https://github.com/Ovyerus">github</a></li>
          <li><a href="https://twitter.com/ovyerus">twitter</a></li>
          <li><a href="https://dribbble.com/Ovyerus">dribbble</a></li>
        </ul>
        <ul class="footer-links justify-end">
          <li><a href="/ssh.txt">ssh keys</a></li>
          <li><a href="/domains.txt">domains list</a></li>
        </ul>
      </footer>
    </div>
  </main>
</Layout>

<style>
  @keyframes gradient-shift {
    0% {
      background-position: 100% 50%;
    }
    40% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 0% 50%;
    }
    90% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .gradient-block {
    @apply bg-gradient-to-br from-[#f0f] to-[#0ff];
    background-size: 500% 100%;
    animation: gradient-shift 10s linear infinite;
  }

  .footer-links {
    @apply flex flex-wrap gap-[10px] underline;
  }

  .footer-links li + li::before {
    content: "/";
    margin-right: 10px;
    display: inline-block;
  }
</style>
