---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="w-screen h-screen flex items-center justify-center flex-col">
    <h1 class="font-header text-[200px]">Ovyerus</h1>
    <p class="text-xl">Multifaceted creative. Frontend developer.</p>
	</main>
</Layout>
