---
import wordmark from "../assets/wordmark.svg";
---

<footer
  class="relative neon text-black m-2.5 md:m-5 p-2.5 md:p-5 text-base flex flex-col gap-2 items-center justify-center"
>
  <a href="/" class="md:absolute md:left-5">
    <img
      class="max-w-[200px]"
      alt="Ovyerus"
      src={wordmark}
      role="heading"
      aria-level="1"
      aria-label="Ovyerus"
    />
  </a>

  <ul class="link-list">
    <li><a rel="me" href="https://github.com/Ovyerus">github</a></li>
    <li><a rel="me" href="https://aus.social/@ovyerus">mastodon</a></li>
    <li>
      <a rel="me" href="https://dribbble.com/Ovyerus">dribbble</a>
    </li>
  </ul>
</footer>
