---
import Wordmark from "../assets/wordmark.svg";
---

<footer
  class="neon relative m-2.5 flex flex-col items-center justify-center gap-2 p-2.5 text-base text-black md:m-5 md:p-5"
>
  <a href="/" class="md:absolute md:left-5">
    <Wordmark class="w-full max-w-[200px]" aria-label="Ovyerus" />
  </a>

  <ul class="link-list">
    <li><a rel="me" href="https://github.com/Ovyerus">github</a></li>
    <li><a rel="me" href="https://aus.social/@ovyerus">mastodon</a></li>
    <li><a rel="me" href="https://bsky.app/profile/ovyerus.com">bluesky</a></li>
  </ul>
</footer>
