---
interface Props {
  current: string;
}

const links = ["/posts", "/weeknotes", "/about", "/uses"];
const { current } = Astro.props;
---

<nav class="p-5">
  <ul class="link-list justify-center text-lg">
    <li><a href="/">home</a></li>

    {
      links.map((l) => (
        <li>
          <a class:list={[{ current: l === current }]} href={l}>
            {l.slice(1)}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .current {
    @apply bg-gradient-to-r from-[#f0f] to-[#0ff] bg-clip-text text-transparent;
  }
</style>
