---
interface Friend {
  url: string;
  image: string;
  alt: string;
}

const friends = [
  { url: "https://wale.au", image: "wale.png", alt: "Wale" },
  {
    url: "https://joscomputing.space",
    image: "spotlight.gif",
    alt: "Spotlight",
  },
  { url: "https://sapphic.moe", image: "sapphic.png", alt: "Sapphic Angels" },
  { url: "https://ziad87.net", image: "ziad87.gif", alt: "ziad87" },
  { url: "https://lewisakura.moe", image: "lewi.png", alt: "lewisakura" },
  { url: "https://auravoid.dev", image: "auravoid.png", alt: "auravoid" },
] satisfies Friend[];
---

<div class="flex flex-wrap gap-2">
  {
    friends.map((f) => (
      <a href={f.url}>
        <img
          src={`/webring/${f.image}`}
          alt={f.alt}
          width="88"
          height="31"
          aria-label={f.alt}
        />
      </a>
    ))
  }
</div>
