---
import "../styles/global.css";
import Head from "../components/Head.astro";

interface Props {
  description?: string;
  title: string;
  ogTitle: string;
  ogImage?: string;
}

const { description, title, ogTitle, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {description} {title} {ogTitle} {ogImage}>
    <slot name="head" />
  </Head>
  <body
    class="flex w-screen flex-grow flex-col bg-black text-xl text-white italic md:text-2xl"
  >
    <slot />
  </body>
</html>
