---
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/600.css";
import "@fontsource/montserrat/700.css";
import Head from "../components/Head.astro";

interface Props {
  description?: string;
  title: string;
  ogTitle: string;
  ogImage?: string;
}

const { description, title, ogTitle, ogImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {description} {title} {ogTitle} {ogImage}>
    <slot name="head" />
  </Head>
  <body
    class="flex w-screen flex-grow flex-col bg-black text-xl italic text-white md:text-2xl"
  >
    <slot />

    <style is:global>
      html {
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }

      .content {
        @apply flex min-h-screen flex-col gap-2.5 p-2.5 md:gap-5 md:p-5;
      }

      @keyframes gradient-shift {
        0% {
          background-position: 100% 50%;
        }
        40% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 0% 50%;
        }
        90% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 100% 50%;
        }
      }

      .neon {
        @apply from-[#f0f] to-[#0ff];
        background-size: 500% 100%;
        animation: gradient-shift 10s linear infinite;

        &:not(.neon-right) {
          @apply bg-gradient-to-br;
        }

        &.neon-right {
          @apply bg-gradient-to-r;
        }
      }

      .link-list {
        @apply flex flex-wrap gap-[10px];

        & li {
          & + li::before {
            content: "/";
            margin-right: 10px;
          }

          & > a {
            @apply underline;
          }
        }
      }
    </style>
  </body>
</html>
